* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
}

:root {
  --main-color: #3366cc;
  --color: #fff;
  --color-h1: #5ffbf1;
  --color-input: #fff;
  --color-guess: #0f3566;
  --color-invalid: #e70404;
  --color-message: #c31c7b;
  --background-color-h1: #0f3566;
  --background-color-sub: #0f3566;
  --font-size: 16px;
}
#wrapper {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(
    to left bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  color: var(--color);
  font-size: 1.2rem;
  font-weight: bold;
}
.headed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.headed p {
  font-size: 1.2rem;
  text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.6);
}
h1 {
  background-color: var(--background-color-h1);
  color: var(--color-h1);
  text-align: center;
  height: 3.2rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
  padding: 1.2rem 0;
  align-items: center;
}
.form input {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#guess {
  font-size: 3rem;
  margin-top: 10px;
  color: var(--color-guess);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#guessField {
  width: 15rem;
  height: 3rem;
  font-size: 2rem;
  background-color: var(--color-input);
  border-style: none;
  border: 2px solid #6c6d6d;
  border-radius: 10px;
  text-align: center;
}
.invalid {
  font-size: 1.3rem;
}
#subt {
  background-color: var(--background-color-sub);
  color: var(--color);
  width: 11rem;
  height: 3.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  border-style: none;
}
.resultParas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0;
}
.resultParas p {
  font-size: 1.4rem;
  text-shadow: 2px 1px 7px rgba(0, 0, 0, 0.6);
}
.guesses {
  color: var(--color-invalid);
  font-size: 1.4rem;
}
.lastResult {
  color: var(--color-message);
  padding: 0.2rem;
}
.invalid {
  color: var(--color-invalid);
}

/* This will added by JS */
button {
  background-color: #141414;
  color: var(--color);
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
}
/*To give color and shape to display message and restart Butoon */
.button {
  color: var(--color);
  background-color: var(--background-color-sub);
  border-radius: 15px;
  padding: 0.8rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.display {
  color: var(--color-message);
  border-radius: 20px;
  padding: 0.3rem;
  width: 60%;
  margin: auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.display p {
  color: #e70404;
  display: inline;
  font-size: 1.7rem;
}

/* +++++++++++++++++++++++++++++++++++++++ */

@media (max-width: 1000px) {
  html {
    font-size: 95%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 70%;
  }
}
